.checkuser-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 20px;
	padding: 20px;
	color: rgb(255, 0, 0);
	font-weight: 500;
}

.form-group {
	margin: 0;
	width: 100%;
	display: inline;
}

.form-group button {
	margin-top: 20px;
	font-size: 1.2rem;
	font-weight: 800;
	border-radius: 10%;
	padding: 20px;
}

.login-btn {
	border: 3px solid rgb(0, 0, 0);
}
